<style>
    .modal-content {
      background-color: #212121
    }
</style>

<!-- calificaciones -->
<div class="modal fade" id="Modal-Calificar-{{cita.id}}"
tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header">
   <h5 class="modal-title" id="ModalLabel">
     Cita del {{cita.fecha}} {{cita.hora}}
   </h5>
   <br>
   <button type="button" class="close"
           data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   <form method="POST">
     <div class="text-center">
       {{ calificar_form.hidden_tag() }}
       {{ calificar_form.puntaje.label() }}{{ calificar_form.puntaje(placeholder="1..5") }}  
     </div>
     <br>
     <input id="idCitas" name="idCitas" type="hidden" value="{{cita.id}}">
     {{ calificar_form.submit(class="btn btn-outline-success btn-block") }}
   </form>        </div>
 <br>
 <div class="modal-footer">
   <button type="button" class="btn btn-secondary"
           data-dismiss="modal">Close
   </button>
 </div>
</div>
</div>
</div>