{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}

            <h2 class="h3 mb-3 font-weight-normal">
                Por favor, inicie sesión
            </h2>
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Correo electrónico") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Contraseña") }}

            <br>

            <div class="checkbox mb-3">
               <h6>Aún no se ha registrado?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Registro</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}